@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
body,input,button {
	font-family: 'Permanent Marker', cursive;
}

.start {
	font-size: 50px;
	width: 400px;
}

button.letter {
	border: none;
	color: white;
	border-radius: 50%;
	background: black;
	font-size: 20px;
	margin: 2px;
	padding: 0;
	width: 32px;
	height: 32px;
}
button.letter:disabled {
	color: grey;
	background: darkgrey;
}
.word {
	margin-bottom: 10px;
}

.word .letter {
	font-size: 20px;
	border-bottom: 4px solid black;
	display: inline-block;
	min-width: 20px;
	margin: 2px;
	text-align: center;
}
.word .letter:empty:before {
	content: '\00a0';
}

.game-over {
	position: absolute;
	font-size: 90px;
}
.game-over.lost {
	color: red;
	border: 10px dashed red;
	border-radius: 10px;
	margin: 0;
	width: 350px;
	height: 140px;
	line-height: 110px;
	vertical-align: middle;
	text-align: center;
	top: 100px;
	left: 20px;
	transform: rotate(-15deg);
	background-color: white;
	box-shadow:
		-5px -5px white,
		5px -5px white,
		5px 5px white,
		-5px 5px white;
}
.game-over.lost .word {
	font-size: 20px;
	display: block;
	position: relative;
	top: -50px;
	color: black;
}
.game-over.lost .choose-difficulty {
	transform: rotate(15deg);
}

.game-over.won {
	top: 100px;
	left: 30px;
	color: gold;
	text-shadow:
		-2px -2px black,
		2px -2px black,
		2px 2px black,
		-2px 2px black;
}

.choose-difficulty {
	position: relative;
	top: 20px;
	right: 50px;
}
.choose-difficulty button {
	font-size: 20px;
	border: 1px dashed white;
	margin: 10px;
	float: right;
	clear: both;
}
.choose-difficulty button.easy {
	background-color: lightgreen;
	color: green;
}
.choose-difficulty button.hard {
	background-color: red;
	color: darkred;
}
